<footer class="site-footer">
  <div class="wrapper">
   <div class="about-me">
  <h3>关于我</h3>
  <ul class="about-list">
    <li class="contact-item">
      <span class="icon">📧</span>
      <a href="mailto:wys199811@163.com" class="link">wys199811@163.com</a>
    </li>
    <li class="contact-item">
      <span class="icon">🔗</span>
      <a href="https://github.com/wuyinshuang" class="link">wuyinshuang</a>
    </li>
  </ul>
  <p class="busuanzi-stats">
   <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
       <span id="busuanzi_container_site_pv" style="display:inline-block; margin-left:8px;">
      总访问量：<span id="busuanzi_value_site_pv"></span> 次
    </span>
    <span id="busuanzi_container_page_pv" style="display:inline-block; margin-left:8px;">
      本文阅读量：<span id="busuanzi_value_page_pv"></span> 次
    </span>
  </div>
  </div>
</footer>

